In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("example.csv",)
df

   姓名  考试1  考试2  考试3
0  小陈   85   95   92
1  小李   91   92   94
2  小王   86   81   89
3  小张   79   89   95
4  小赵   79   89   95
5  小周   81   89   92